.page-content{
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.page-title{
    align-items: end;
    margin-top:0px;
}
.page-link{
    margin: 0%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}